language: php

php:
    - 7.1

install:
    - composer install
    # composer create-project approach
    - composer create-project nette/coding-standard temp/nette-coding-standard

script:
    # run coding standard check
    - composer cs
    # run coding standard fixing
    - composer fs
    # composer create-project approach
    - temp/nette-coding-standard/vendor/symplify/easy-coding-standard/bin/ecs check examples --config temp/nette-coding-standard/coding-standard-php71.neon

notifications:
    email: false
