checkers:
    # declare(strict_types=1);
    - PhpCsFixer\Fixer\Strict\DeclareStrictTypesFixer
    # use tabs over spaces
    - PHP_CodeSniffer\Standards\Generic\Sniffs\WhiteSpace\DisallowSpaceIndentSniff
    # <?php opening tag
    - PhpCsFixer\Fixer\PhpTag\FullOpeningTagFixer
    # not trailing spaces
    - PhpCsFixer\Fixer\Whitespace\NoTrailingWhitespaceFixer
    # newline one file end
    - PHP_CodeSniffer\Standards\PSR2\Sniffs\Files\EndFileNewlineSniff
